.App-form {
  margin-top: 20px;
}

// article {
//   background-color: #efefef;
//   border: #dddbdb 3px solid;
//   height: 400px;
//   width: 90%;
//   margin: auto;
//   color: black;
//   margin-top: 30px;
//   margin-bottom: 20px;
//   display: grid;
//   grid-template-columns: 25% 25%;

//   ul li{
//     list-style: none;
//   }
// }

#rest-buttons {
  margin: 0 auto;
}

.method-buttons {
  display: inline-block;
  margin:4px;
  width: 75px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:auto;
}

.method-buttons label {
  width:4.0em;
}

.method-buttons label span {
  text-align:center;
  padding:3px 0px;
  display:block;
}

.method-buttons label input {
  position:absolute;
  top:-20px;
}

.method-buttons input:checked + span {
  background-color:gray;
  color:#fff;
}