.App-header {
  background-color: #1d55c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: rgb(247, 244, 244);
}